/***
* @content @Pizzeria Theme@ -> @Awesome Styles
* @Awesome -> Awesome
*/
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

.clear,
.clear::after {
    content: '';
    clear: both;
    display: block;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.sr-text, .screen-reader-text {
    display: none;
}

.text-center {
    text-align: center;
}

.primary-text {
    color: #23282D;
    font-weight: bold;
}

.button {
    background-color: #C6C6C6;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: auto;
    border-radius: 8px;
    color: #fff;
    padding: 15px 80px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.primary {
    background-color: #eeeeee;
    transition: background-color .5s ease;
}

.primary:hover {
    background-color: #C6C6C6;
}

.secondary {
    background-color: #eeeeee;
    transition: background-color .5s ease;
    color: #000;
}

.secondary:hover {
    background-color: #C6C6C6;
}

/****************************GRIDARA*/
@media only screen and (min-width: 768px) {
    .container-grid {
        margin-left: -10px;
        margin-right: -10px;
    }

    .container-grid::after {
        content: '';
        display: block;
        clear: both;
    }

    [class*='columns'] {
        padding: 0 10px;
        float: left;
    }

    .columns2-4 {
        width: 50%;
    }

    .columns1-4 {
        width: 25%;
    }

    .columns3-4 {
        width: 75%;
    }

    .columns1-3 {
        width: 24.3%;
    }

    .columns2-3 {
        width: 66.6%;
    }
}

/****!GRIDARA*/

/***********LOGO*********/
div.logo {
    text-align: left;
}

/*მედიაზე ასე სწორდება*/
@media only screen and (min-width: 768px) {
    div.logo {
        text-align: left;
    }
}

@media only screen and (min-width: 992px) {
    div.logo {
        text-align: left;
    }
}

div.logo img {
    width: 200px;
}

/**************!LOGO******/

/***SITE INFO*/
@media only screen and (min-width: 768px) {
    header.site-header .container {
        position: relative;
    }

    header.site-header .header-information {
        position: absolute;
        top: 0;
        right: 40px;
    }
}

div.address p {
    margin: 0 0 3px 0;
    font-size: 14px;
    text-align: center;
}

div.address a{
    text-decoration: none;
    color:#000;
}

@media only screen and (min-width: 768px) {
    div.address p {
        text-align: right;
    }
}

/*Social Menu*/
nav.socials ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    nav.socials ul {
        float: right;
    }
}

nav.socials ul li a:before {
    font-family: 'Font Awesome 5 Brands';
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    content: '\f08e';
    font-size: 30px;
    color: #000;
    -webkit-font-smoothing: antialiazed;
}

nav.socials ul li {
    position: relative;
    display: inline-block;
}

/*SOCIAL ICONS*/
nav.socials ul li a[href*="facebook.com"]::before {
    content: '\f09a';
}

nav.socials ul li a[href*="youtube.com"]::before {
    content: '\f167';
}

nav.socials ul li a[href*="instagram.com"]::before {
    content: '\f16d';
}

nav.socials ul li a[href*="winotoskanii.pl"]::before {
    content: '\f37c';
}

/**MAIN MENU************* --- ასე სწორდება მენიუ ცენტრში და მობილურად!!! */
nav.site-nav {
    display: none;
}

@media only screen and (min-width: 768px) {
    nav.site-nav {
        display: block;
    }
}

div.main-menu {
    border-top: 1px solid #C6C6C6;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

nav.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

nav.site-nav ul li.menu-item-has-children {
    position: relative;
}

nav.site-nav ul li.menu-item-has-children ul {
    display: none;
}

nav.site-nav ul li.menu-item-has-children:hover ul.sub-menu {
    display: block;
    position: absolute;
    border: 1px solid rgb(78%, 78%, 78%);
    z-index: 999999;
    background: #fff;
}

nav.site-nav ul li.menu-item-has-children:hover ul.sub-menu li {
    display: block;
    width: 100%;
}

/*nav.site-nav ul li {
    display: table-cell;
    width: 1%;
}*/

/**@Dropdown KOSZE PREZENTOWE*/
ul#menu-header-menu li.menu-item-23 {
    position: relative;
}

ul#menu-header-menu li.menu-item-23 ul.sub-menu {
    display: none;
    position: absolute;
    top:-1px;
    left: 245px;
}

ul#menu-header-menu li.menu-item-23:hover ul.sub-menu{
    display: block;
    position: absolute;
    border: 1px solid rgb(78%, 78%, 78%);
    z-index: 999999;
    background: #fff;
}
ul#menu-header-menu li.menu-item-23:hover ul.sub-menu li{
    display: block;
    width: 100%;
}

/**********@Dropdown KOSZE PREZENTOWE*/

ul#menu-header-menu li.menu-item-26 {
    position: relative;
}

ul#menu-header-menu li.menu-item-26 ul.sub-menu {
    display: none;
    position: absolute;
    top:48px;
    left: 0;
}

ul#menu-header-menu li.menu-item-26:hover ul.sub-menu{
    display: block;
    position: absolute;
    border: 1px solid rgb(78%, 78%, 78%);
    z-index: 999999;
    background: #fff;
}
ul#menu-header-menu li.menu-item-26:hover ul.sub-menu li{
    display: block;
    width: 100%;
}
/**@DropDown Delikatesy*/



/**************@DropDown Delikatesy*/
@media only screen and (min-width: 768px) {
    nav.site-nav ul li {
        display: table-cell;
        width: 1%;
    }
}

nav.site-nav ul li a {
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

nav.site-nav ul li a {
    border-bottom: 1px solid #C6C6C6;
    cursor:pointer;
}

/*Responsive menu button*/
@media only screen and (max-width: 767px) {
    .mobile-menu a {
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        background-color: #a61206;
        width: 100%;
        display: block;
        color: #fff;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-menu a {
        display: none;
    }
}

/*HERO***********SLIDER*/
#slider {
    max-width: 1170px;
    margin: 0 auto;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 450px;
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.hero .hero-content {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    z-index: 9999;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .hero-text {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) {
    .home .hero-text {
        width: 40%;
    }
}

.home .hero-text {
    line-height: 40px;
    font-size: 18px;
}

/*************************BANERY STRONA GLOWNA*/
ul.wiecej{
    list-style-type: None;
}

ul.wiecej a{
    background-color: #C6C6C6;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: auto;    border-radius: 8px;
    color: #fff;
    padding: 10px 50px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
/*************************BANERY STRONA GLOWNA*/

/*MAIN CONTENT - SPECIALE WINO*/
.speciality-content {
    position: relative;
    overflow: hidden;
    /* display: table;*/
    padding: 0;
}

.speciality-content .information {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.3);
    /* display: table-cell;*/
    vertical-align: middle;
    text-align: center;
    color: #fff;
    padding: 5px;
    opacity: 6;
    z-index: 3;
    transition: all .5s ease-in-out;
}

.speciality-content:hover .information {
    top: 0;
    opacity: 1;
}

.speciality-content .information .price {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-top: 25px;
}

.speciality-content .information h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.speciality-content .information p {
    margin: 0 0 10px 0;
    color: #fff;
}

.speciality-content .information a {
    color: #fff;
}

div.post-title h2 {
    font-size: 18px;
    color: rgb(25%, 20%, 20%);
}

@media only screen and (max-width: 767px) {
    .speciality-content {
        overflow: visible;
        display: block;
        margin-bottom: 30px;
    }

    .speciality-content .information {
        position: relative;
        opacity: 1;
        background-color: #f19f30;
        padding: 30px;
    }

    .speciality-content img {
        width: 100%;
    }
}

/*
 GOOGLE MAPS - Always set the map height explicitly to define the size of the div
		 * element that contains the map.
*/
#map {
    height: 300px;
}

.more-delikatesy {
    padding: 15px 35px;
}

/*FOOTER*/
footer {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px solid #c1c1c1;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    display: inline;
}

footer nav ul li:last-child .separator {
    display: none;
}

footer nav ul li a {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

footer .location {
    margin-top: 30px;
}

footer p {
    margin: 0 0 5px 0;
    font-size: 14px;
}

footer p.copyright {
    margin-top: 20px;
}