.container{
    background: #f5f5f5;;
}
.form-horizontal {
    margin-top: 30px;
    background: #343A40;
    margin-bottom: 30px;
}
.form-horizontal div.form h1{
    color:#fff;
}
.form-horizontal div.form p{
    color:#fff;
}

.form-horizontal h1{
    margin-top: 30px;
}

.container .errors h1, p{
    color:#000;
}

input.btn-default {
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    padding: 15px 50px;
}

input.btn-default:hover{
    background: #fed136;
}

.user{
    background-color: #333;
}

.user .navbar-nav li a:hover{
    color:#fff;
}

.user h3{
    color:#fff;
}

.user .nav li{
    margin-right: 30px;
}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.single-post {
    padding: 20px;
    font-size:25px;
}
.edit-post{
    color:#fff;
}

.is-active{
    color:#fff;
}

span.delete_post{
    cursor: pointer;
}
