div.odstep{
    margin-bottom:40px !important;
}
div.loader-cont{
    display: inline-block;
    margin-right: -100px;
    margin-top: -18px;
}
span#w-loader{
    display:none;
}
.shinned{
    width:40% !important;
}
.shinned, .upload-image-button, .remove-image, .apply-to-all{
    display:block;
    float: left;
}
.upload-image-button, .remove-image, .apply-to-all{
    margin-left: 8px !important;
}
.w-number{
    width:20% !important;
}