.ChronusOption .form-table tr{
    margin-top: 10px;
    }
.jigoshop td, .jigoshop th{
  	padding: 10px;
  	padding-right: 10px;
  }

.remove_image, .edit_image{
    font-size:15px;
}
.c-title{
    width: 300px !important;
}
.c-color{
    width: 80px !important;
}
.c-select{
    width: 100px !important;
}
textarea#jigoshop_chronous_home_description{
    width: 300px !important;
}
textarea#jigoshop_chronous_custom_css{
    width:950px;
    height:250px;
}
.no-decoration{
    text-decoration:none !important;
    display:block !important;
}
.c-image{
    text-align: center !important;
}