.pagination{
    margin: 20px;
}
.pagination a{
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-decoration: none;
    background: #fff;
    color: #428bca;
}
.pagination li{
    display: inline;
}
.pagination a:nth-child(even){
    border-left: none;
    border-right: none;
}
.pagination a:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination a:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #ddd;
}
.pagination a:hover{
    background: #eee;
}
.pagination > a.active-page{
    background: #428bca;
    color: #fff;
    border-color: #428bca;
}

.hide-success-admin{
    vertical-align: baseline;
    background: #F00;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    background: 0 0!important;
    color: rgba(0,0,0,.6)!important;
    font-weight: 400;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px #21BA45 inset!important;
    color: #21BA45!important;
    margin-top:40px;
    margin-bottom: 20px;
}
#jne-submit{
    margin-top:20px;
    background-color: #428bca;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 54px !important;
}

.l-cont{
    position:relative;
}
#w-loader{
    position:absolute;
    bottom: -10px;
    left: 155px;
}