.hsc-menu {
    position: relative;
}

.hsc-dropdown {
    display: none;
    right: 0;
    margin-top: 0;
    position: absolute;
    background-color: #286090;
    color: #fff;
    opacity: 0.9;
    padding: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 0px;
}

li.hsc-menu:hover .hsc-dropdown {
  /*  display: block;*/

}

.hsc-dropdown .forward .lako {
    float: left;
    width:120px;
    color:#369;
}

#prime_nav .hsc-dropdown .remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: transparent;
    display: block;
    width: 5px;
    min-width: 5px;
}
.hsc-dropdown a.new-pla{
    padding-left: 0;
    margin-right: 30px;
}

.items-total{
    color:#000;
}

/*li.hsc-menu:hover .dropdownContain span{
    color: #f9f9f9;
    background-color: #F03861;
    padding: 2px 5px;
    text-align: center;
    font-size: .8rem;
    border-radius: 3px;
}*/

