.option_text {
	width: 400px;
}

.option_submit {
	margin-top: 20px;
}

.ritam_forms {
	margin-top: 10px;
	margin-bottom: 20px;
}

tr.imported td {
	background-color: #a3a0a0;
	color: black;
}

th {
	font-weight: bold;
	padding: 8px 4px;
	background-color: dodgerblue;
	border: 1px solid grey;
}

td.td_standard {
	text-align: center;
	padding: 2px;
	vertical-align: middle;
}

td.td_left {
	text-align: left;
	padding-left: 10px;
}

td.td_right {
	text-align: right;
	padding-right: 10px;
}

table.view td.prod {
	border: 1px solid grey;
	border-collapse: collapse;
}

.checkbox {
	margin: 0;
}

input[type=submit] {
	padding: 4px 10px;
	background: #cccccc;
	border: 2px none;
	cursor: pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.ritam_info {
	margin-bottom: 15px;
}

.div_button {
	background-color: #58faff;
	float: left;
	width: 150px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	margin-right: 5px;
}

.differences {
	background-color: lightcoral;
}